.fondo{
    background-color:#E5E9F2;
    }

    .base{
    background-color: white;
    height: 832px;
    width: 100%;
    }

    .imagen {
    width: 564px;
    height: 832px;
    float: left;
    }

    .titulo {
    position: absolute;
    bottom: 40%;
    right: 16%;
    padding-top: 100px;
    color:#183554;
    font-size: 100px;
    padding-bottom: 100px;
    line-height: 130px;
    text-align: center;
    }

    .texto {
    position: absolute;
    top: 46%;
    right: 3%;
    padding-bottom: 100px;
    color:#183554;
    font-size: 36px;
    text-align: center;
    line-height: 33px;
    width: 1200px;
    }

    .boton {
    background-color:white;
    border: none;
    border-radius: 5px;
    width: 192px;
    height: 50px;
    position: absolute;
    top: 84%;
    right: 30%;
    color: #183554;
    font-size: 18px;
    text-decoration: underline;
    }

    .base2{
        background-color: #183554;
        width: 100%;
        height: 1300px;
      }
    .titulo2 {
        padding-top: 2%;
        color:white;
        font-size: 70px;
      }

      .caja {
        background-color: white;
        margin: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #183554;
        font-size: 20px;
        width: 700px;
        height: 200px;
      }

      .imagen2 {
        height: 100px;
        width: 100px;
        padding-left: 10px;
      }

      .textos {
        color: #183554;
        font-size: 20px;
        line-height: 26px;
        text-align: left;
        padding-left: 10px;
      }

      .contenido {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .fila {
        padding-left: 60px;
        padding-right: 60px;
      }
      