
.fondo{
  background-color:#E5E9F2;
}

.base{
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}

.basef{
  display: flex;
  width: 100%;
  height: 900%;
}

.basef1{
  display: flex;
  width: 100%;
  height: 100%;
}

.imagen1 {
  width: 580px;
  height: 450px;
  margin-left: 26px;
}

.imagen2 {
  width: 380px;
  height: 550px;
  margin-left: 26px;
}

.imagen3 {
  width: 480px;
  height: 330px;
  margin-left: 26px;
}

.imagen4 {
  width: 350px;
  height: 450px;
  margin-left: 26px;
}

.imagen5 {
  width: 580px;
  height: 350px;
  position: relative;
  bottom: 80px;
  margin-left: 26px;
}

.imagen6 {
  width: 380px;
  height: 250px;
  margin-top: 20px;
  margin-left: 26px;
}

.imagen7 {
  width: 480px;
  height: 467px;
  position: relative;
  bottom: 198px;
  margin-left: 26px;
}

.imagen8 {
  width: 350px;
  height: 350px;
  position: relative;
  bottom: 80px;
  margin-left: 26px;
}

.titulo {
  position: relative;
  top: 10%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  color: #183554;
  font-size: 90px;
  line-height: 60px;
  text-align: center;
}