.fondo{
    background-color:#E5E9F2;
  }

  .base{
    background-color: #183554;
    width: 100%;
    height: 710px;
  }
  
  .imagen {
    width: 483px;
    height: 710px;
    float: right;
  }
  
  .titulo {
    position: absolute;
    top: 20%;
    left: 11%;
    padding-bottom: 100px;
    color: white;
    font-size: 90px;
    line-height: 60px;
    text-align: center;
  }
  
  .texto {
    position: absolute;
    top: 44%;
    left: 6%;
    padding-bottom: 100px;
    color: white;
    font-size: 36px;
    line-height: 33px;
    width: 1200px;
    text-align: center;
  }

  .base2{
    background-color: white;
    height: 832px;
    width: 100%;
    margin-top: 80px;
    }

    .imagen2 {
    width: 564px;
    height: 832px;
    float: left;
    }

    .titulo2 {
    position: absolute;
    color:#183554;
    font-size: 100px;
    line-height: 130px;
    text-align: center;
    left: 46%;
    }

    .texto2 {
    position: absolute;
    padding-bottom: 100px;
    color:#183554;
    font-size: 36px;
    text-align: center;
    line-height: 33px;
    width: 1200px;
    margin-top: 24%;
    left: 34%;
    }

    .imagen3 {
        width: 534px;
        height: 800px;
        float: right;
      }

      .base3{
        background-color: #183554;
        width: 100%;
        height: 800px;
        margin-top: 80px;
      }

      .texto3 {
        position: absolute;
        padding-bottom: 100px;
        color: white;
        font-size: 36px;
        line-height: 48px;
        text-align: center;
        margin-top: 14%;
        left: 9%;
      }

      .titulo3 {
        position: absolute;
        color:white;
        font-size: 100px;
        line-height: 130px;
        text-align: center;
        left: 14%;
        }

      .base4{
        background-color: white;
        height: 715px;
        width: 100%;
        margin-top: 80px;
        }
    
        .imagen4 {
        width: 977px;
        height: 715px;
        float: left;
        }
    
        .titulo4 {
        position: absolute;
        padding-top: 100px;
        color:#183554;
        font-size: 100px;
        padding-bottom: 100px;
        line-height: 130px;
        text-align: center;
        left: 67%;
        }
    
        .texto4 {
        position: absolute;
        padding-bottom: 100px;
        color:#183554;
        font-size: 36px;
        text-align: center;
        line-height: 33px;
        width: 600px;
        margin-top: 22%;
        left: 60%;
        }